# ide
.spyderproject
.project
.pydevproject
.settings/
.idea/
pvmismatch.sublime-project
pvmismatch.sublime-workspace

# files
*.pyc
*.orig

# folders
_*/
!docs/_templates/
testPV/
benchmark_*/
dist/
pvmismatch.egg-info
venv/
