# ide
.spyderproject
.project
.pydevproject
.settings/
.idea/
pvmismatch.sublime-project
pvmismatch.sublime-workspace

# files
*.pyc
*.orig

# build
dist/
pvmismatch.egg-info/
build/
Makefile
version.py

# docs
!docs/_templates/
_*/

# test
testPV/
benchmark_*/
.coverage
.cache/
__pycache__/

# virtualenv
venv/
